@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&family=Poppins:wght@300;400&display=swap');

:root {
    --color1: #0b1a2b;
    --color2: #1c3fff;
    --color3: #7b848f;
    --color4: #e0e4ea;
    --color5: #131212;
    --textcolor: #ffffff;
  }

*{
    font-family: Poppins;
    color: var(--textcolor);
}

.navbar{
    background-color: var(--color1);
}
.logotext{
    color: var(--textcolor);
}

.logo img{
   width: 4rem;
}