footer {
    background-color: #171e2a;
    color: #fff;
    padding-bottom: 2rem;
  }
  
  .call2 {
    background-color: var(--color4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 10px 10px;
    height: 20rem;
  }
  .call2 h3 {
    color: #1c3fff;
    font-weight: 700;
    padding: 1rem;
  }
  .call2 h2 {
    padding: 2rem;
  }
  .call2btn {
    background-color: var(--color2);
    border-radius: 10px;
    height: 3rem;
    width: 10rem;
    color: var(--textcolor);
    font-weight: 500;
    border: none;
  }
 
 
  .footer-container {
    max-width: 1240px;
    letter-spacing: 2px;
  }
  
  .footer-desc p {
    max-width: 320px;
  }
  
  .contact-info .info {
    width: auto;
  }
  
  .solutions-header {
    margin-right: 40px;
  }
  
  .solutions-header .solutions-name {
    font-size: 18px;
    font-weight: 700;
  }
  
  .solutions-header li {
    margin-bottom: 10px;
  }
  
  .solutions-header li a {
    font-size: 16px;
    color: #f0f2f5;
  }
  
  .solutions-header .follow-name {
    font-size: 18px;
    font-weight: 700;
    margin-top: 3rem;
    width: 150px;
  }
  
  .fa-brands {
    font-size: 24px;
    transition: all 0.5s ease-in-out;
    color: #fff;
  }
  
  .fa-brands:hover {
    color: #1c3fff;
    transform: rotate(10deg) scale(1.1);
  }
  
  .footer-bottom {
    font-size: 15px;
  }
  
  @media only screen and (max-width: 510px) {
    .solutions-header {
      margin-bottom: 1rem;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .footer-content {
      flex-wrap: wrap;
    }
    .solutions-area {
      flex-wrap: wrap;
    }
    .footer-bottom {
      flex-wrap: wrap;
      justify-content: center;
    }
  }